.none{
    display: none;
}








/********************** animation  */
.TBO_ani{
    animation: TBO_ani 1.5s .1s both;
}
@keyframes TBO_ani {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.LRO_ani{
    animation: LRO_ani 1s .5s both;
}
@keyframes LRO_ani {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

.O_ani{
    animation: O_ani 1s .7s both;
}
@keyframes O_ani {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.NF_ani{
    animation: NF_ani .5s both;
}
@keyframes NF_ani {
    from{
        scale: .5;
        opacity: .5;
    }to{
        scale: 1;
        opacity: 1;
    }
}

.LTTL_ani{
    animation: LTTL_ani .5s .4s both;
}
@keyframes LTTL_ani {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(10deg);
    }
    85%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}